<p id="notice"><%= notice %></p>

<h1>People</h1>

<table>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to "#{person.name}", person %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
